<ion-view>
	<ion-nav-title>{{ page_title }}</ion-nav-title>
	<ion-content sb-background-image>
		<div class="container-fluid"><br/></div>
		<div class="container-fluid" ng-if="is_logged_in">
			<form name="form" ng-submit="post()">
				<div class="list">
					<div>
						<label class="item item-input item-custom">
							<textarea rows="3" class="form-control" placeholder="Enter Your Review"
							          ng-model="feedbackData.feedback_content"></textarea>
						</label>
					</div>
				</div>
			</form>
			<button type="submit" class="button button-block button-positive" ng-click="post()" ng-show="!is_loading">
				{{ 'SUBMIT' | translate }}
			</button>
			<div class="loader" ng-show="is_loading">
				<ion-spinner class="spinner-custom"></ion-spinner>
			</div>
		</div>
	</ion-content>
</ion-view>