ul.rating li {
  display: inline;
  border: 0;
  background: none;
  padding: 1px;
}
ul.rating li i {
  font-size: 24px;
}
ul.rating li i.ion-ios-star, ul.rating li i.ion-ios-star-half {
	color: #e8d834;
}